﻿@using Match.Domain.Entities;
@using Match.Repository.EF;
@using Match.WebUI.Infrastructure.HTMLHelpers;
@model ProfileForDisplay

@{
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}
@section Scripts{
@Styles.Render("~/Content/Foundation/customcss/mycustom.css")
@Styles.Render("http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/smoothness/jquery-ui.css")
@Scripts.Render("http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js")
@Scripts.Render("http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js")


}

@section MainContent{

<div class="row">
<div class="large-8 small-centered  large-uncentered columns">

<fieldset  ">
<legend>@Model.Profile.FirstName, @Model.Profile.AgeFromDateBirth</legend>
<div class="row">
 <div  class="small-12 columns">

 <div class="row">
  <div  class="medium-4 columns">
 
   
    

      @if (Model.Profile.ProfileImages == null)
      {   
         <div class="resize-image" style="background: url('../../Content/Images/no-image.jpg')"></div> 
      }
      else
      {

        <div class="resize-image" style="background: url('@Url.Action("GetProfileImage", "Profile", new { imageId = Model.Profile.Id })')"></div>
      }                     
                   
  
  
   </div>
   <div  class="medium-8 columns">               
          

<div id="settings_accordion" >

  <h3>Personal information</h3>
  <div>



<div class="row">
       <div class="medium-5 columns medium-text-right small-text-left color-small">Age</div>
     <div class="medium-7 columns small-text-left">@Model.Profile.AgeFromDateBirth</div>
  </div> 


  
  <div class="row">
     <div class="medium-5 columns medium-text-right small-text-left color-small">Gender</div>
     <div class="medium-7 columns small-text-left ">@Model.Profile.GenderValue</div>
  </div> 
  
   

  <div class="row"> 
     <div class="medium-5 columns medium-text-right small-text-left color-small">Marital status</div>
     <div class="medium-7 columns small-text-left ">@Model.Profile.Status.Name</div>
  
  </div>  



  <div class="row"> 

  <div class="medium-5 columns medium-text-right small-text-left color-small">Children</div>
     <div class="medium-7 columns small-text-left ">@Model.Profile.Children.Name</div>
  </div>  

  <div class="row">
       <div class="medium-5 columns medium-text-right small-text-left color-small">Country</div>
     <div class="medium-7 columns small-text-left ">@Model.Profile.Country.Name</div>
  </div> 

   <div class="row">
       <div class="medium-5 columns medium-text-right small-text-left color-small">State</div>
     <div class="medium-7 columns small-text-left ">@Model.Profile.State.Name</div>
  </div> 

  <div class="row">
       <div class="medium-5 columns medium-text-right small-text-left color-small">City</div>
     <div class="medium-7 columns small-text-left ">@Model.Profile.City</div>
  </div> 


  <div class="row"> 
    <div class="medium-5 columns medium-text-right small-text-left color-small">Weight</div>
     <div class="medium-7 columns small-text-left ">@Model.Profile.Weight.Name</div>
  </div> 

 <div class="row"> 
      
     <div class="medium-5 columns medium-text-right small-text-left color-small">Height</div>
     <div class="medium-7 columns small-text-left ">@Model.Profile.Height.Name</div>

  </div> 


  <div class="row"> 
     <div class=" medium-5 columns medium-text-right small-text-left color-small">Race</div>
     <div class="medium-7 columns small-text-left " >@Model.Profile.Race.Name</div>
  </div> 


  <div class="row"> 
     <div class=" medium-5 columns medium-text-right small-text-left color-small">Smoke</div> 
     <div class="medium-7 columns small-text-left " >@Model.Profile.Smoke.Name</div>
  </div> 


  <div class="row"> 
     <div class=" medium-5 columns medium-text-right small-text-left color-small">Disability</div>
     <div class="medium-7 columns small-text-left" >@Model.Profile.Disability.Name</div>
  </div> 


  <div class="row"> 
     <div class=" medium-5 columns medium-text-right small-text-left color-small">Education</div>
     <div class="medium-7 columns small-text-left ">@Model.Profile.EducationGrade.Name</div>
  </div> 
  

  <div class="row"> 
     <div class=" medium-5 columns medium-text-right small-text-left color-small">Occupation</div>
     <div class="medium-7 columns small-text-left">@Model.Profile.Occupation.Name</div>
  </div> 


  <div class="row"> 
     <div class="medium-5 columns medium-text-right small-text-left color-small">Income</div> 
     <div class="medium-7 columns small-text-left">@Model.Profile.Income.Name</div>
  </div> 



   <div class="row">
     <div class=" medium-5 columns medium-text-right small-text-left color-small">Religion</div>
     <div class="medium-7 columns small-text-left ">@Model.Profile.Religion.Name</div>
  </div>
</div>
  
  
  
  <h3>Numerology</h3>
  <div>
<div class="row">
       <div class=" small-12 columns   small-text-left ">Life Path Number @Model.Profile.LifePathNumber</div>
       
       
  </div >

  </div>
  

<h3>Zodiac</h3>
  <div >
<div class="row">
       <div class=" small-12 columns   small-text-left ">@Model.Profile.Zodiac</div>
        
       
  </div>

 </div>
  




  

  <h3>Contact</h3>
  <div >



<div class="row">
     
     <div class=" small-12 columns small-text-left end ">E-mail:   @Model.Profile.EMail</div>
  </div> 
  </div>
  </div> 
   </div>                                                             
 </div>            
 </div>
 </div>
 </fieldset>        
       
  
       
       
  







  <fieldset style="padding-top:45px;">        
  <legend>Image Gallery</legend>
  <div class="row">

 @if ( Model.Profile.ProfileImages !=null)
 {
  
   <ul class="medium-block-grid-1 medium-block-grid-3 large-block-grid-3 clearing-thumbs" data-clearing>

       @foreach ( var p in  Model.Profile.ProfileImages)
       {
           
           <li>
          <a class="th list-image" href="@Url.Action("GetProfileImage", "Profile", new { imageId = p.Id })" 
                        style="background-image: url(@Url.Action("GetProfileImage", "Profile", new { imageId = p.Id }));">
            <div class="resize-image" style="background: url('@Url.Action("GetProfileImage", "Profile", new { imageId =p.Id })')" ></div>
          </a>
          
          </li>
  
       } 
     </ul> 
       
  }
  </div>
  </fieldset> 
  
 
 <div class="row">    
     <div class="small-12 small-centered columns text-center">
             
           <a href="#" class="small secondary radius button">Back to Search Result</a>
     </div>
 </div>
</div>   
</div>

  
<script  type="text/javascript">
    $(document).ready(function () {
        /* Converts the h3s and divs into an accordion.
        active: false collapses all the panels initially.
        collapsible: true is necessary for active: false to work.
        heightStyle: "content" makes each panel as tall as its contents.
        */
        $('#settings_accordion').accordion(
    {
        collapsible: true,
        active: false,
        heightStyle: "content"
    }

  );


        //$(".ad_container:gt(3)").hide();



        /* Attaches a handler function to the notifications checkbox that toggles the visibility of the notification sub-options. */
        $('input#cb_enable_notify').change(function () {
            $('div.sub_options').toggle();
        });

    });
</script>
  }

 