﻿@using Match.Domain.Entities;
@using Match.Repository.EF;
@using Match.WebUI.Infrastructure.HTMLHelpers;
@model ResponseModel


@{
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}

@{
    ViewBag.Title = "Profile";
}
@section Scripts{
 @Scripts.Render("~/bundles/jqueryval")      
}


@section MainContent{
<div class="row">
<div class="large-8 small-centered  large-uncentered columns">



<div class="row">

  <div class="text-center columns"><h3>Profile</h3> </div>
  </div>




@using (Html.BeginForm("ProfileInfo", "Profile"))
{
 
@Html.Hidden("id", new { Id = Model.Profile.Id })
@Html.ValidationSummary()

 <fieldset >
 <legend class="legend-mainform">Pesonal Info</legend>


<div class="row">

  <div class="medium-4 columns">
       <div class="wraper-image">
        @Html.Partial("MainImage", Model)
       </div>
  </div>

  <div class="medium-8 columns">

       <div class="row">
            <div class="medium-9 medium-offset-3 columns">@Html.ValidationMessageFor(p => Model.Profile.DateBirth)</div>
            <div class="medium-3 columns">@Html.LabelFor(p => Model.Profile.DateBirth, new { @class = "inline right labelToAllign " })</div> 
            <div class="medium-9 columns">@Html.TextBoxFor(m => m.Profile.DateBirth, new { @Value = Model.Profile.DateBirth.ToString("MMMM dd, yyyy") })</div>
        </div>

       <div class="row">
           <div class="medium-9 medium-offset-3 columns">@Html.ValidationMessageFor(p => Model.Profile.StatusId)</div>
           <div class="medium-3 columns">@Html.LabelFor(p => Model.Profile.StatusId, new { @class = "inline right labelToAllign " })</div> 
           <div class="medium-9 columns">@Html.DropDownListForIAttributeSource("Profile.StatusId", Model.Profile.StatusId, Model.Statuses, "Select...")</div>
        </div>


        <div class="row">
           <div class="medium-9 medium-offset-3 columns">@Html.ValidationMessageFor(p => Model.Profile.GenderId)</div>
           <div class="medium-3 columns">@Html.LabelFor(p => Model.Profile.GenderId, new { @class = "inline right labelToAllign " })</div> 
           <div class="medium-9 columns">@Html.MatchEnumDropDownListFor(p => Model.Profile.GenderValue, "Select...")</div>
        </div>

</div>



 <div class="row">
   <div class="medium-10 medium-offset-2 columns">@Html.ValidationMessageFor(p => Model.Profile.FirstName)</div>
   <div class="medium-2 columns">@Html.LabelFor(p => Model.Profile.FirstName, new { @class = "inline right labelToAllign " })</div> 
    <div class="medium-10 columns">@Html.TextBoxFor(p => Model.Profile.FirstName) </div>
  </div>
 
 <div class="row">
   <div class="medium-10 medium-offset-2 columns">@Html.ValidationMessageFor(p => Model.Profile.LastName)</div>
   <div class="medium-2 columns">@Html.LabelFor(p => Model.Profile.LastName, new { @class = "inline right labelToAllign " })</div> 
   <div class="medium-10 columns">@Html.TextBoxFor(p => Model.Profile.LastName) </div>
  </div>

 
  <div class="row ">
      <div class="medium-10 medium-offset-2 columns">@Html.ValidationMessageFor(p => Model.Profile.EMail)</div>
      <div class="medium-2 columns">@Html.LabelFor(p => Model.Profile.EMail, new { @class = "inline right labelToAllign " })</div> 
     <div class="medium-10 columns">@Html.TextBoxFor(p => Model.Profile.EMail)</div>
       
</div>


 <div class="row">
      <div class="medium-10 medium-offset-2 columns">@Html.ValidationMessageFor(p => Model.Profile.Phone)</div>
     <div class="medium-2 columns">@Html.LabelFor(p => Model.Profile.Phone, new { @class = "inline right labelToAllign " })</div> 
     <div class="medium-10 columns">@Html.TextBoxFor(p => Model.Profile.Phone)</div>
</div>    

     
</div>
</fieldset >



<fieldset>
<legend class="legend-mainform">About myself</legend>
<div class="row">
    <div class="small-12 columns">@Html.TextAreaFor(p => Model.Profile.AboutMyself, new { rows = "7" })</div>

</div>
</fieldset>



<fieldset>
<legend class="legend-mainform">Image set</legend>		   
<div class="row">
     <div class="small-12" style="height:310px; vertical-align:bottom;"></div>
       <div class="small-12 small-centered columns text-center" style =" vertical-align:middle;">
            <a href="#" class="small addpicture radius button"><i class="step fi-camera size-camera"></i> Add pictures </a>
     </div>
</div>
</fieldset> 





<div class="row">
<div class="small-12 columns" >
    @Html.Partial("ImageSet", Model)
</div>
</div>
 



<fieldset>
<legend class="legend-mainform">Location</legend>
<div class="row">
     <div class="medium-10 medium-offset-2 columns">@Html.ValidationMessageFor(p => Model.Profile.CountryId)</div>
    <div class="medium-2 columns">@Html.LabelFor(p => Model.Profile.CountryId, new { @class = "inline right labelToAllign" })</div>
    <div class="medium-10 columns">@Html.DropDownListForIAttributeSource("Profile.CountryId", Model.Profile.CountryId, Model.Countries, "Select...")</div>
</div>    



  <div class="row">
      <div class="medium-10 medium-offset-2 columns">@Html.ValidationMessageFor(p => Model.Profile.StateId)</div> 
     <div class="medium-2 columns">@Html.LabelFor(p => Model.Profile.StateId, new { @class = "inline right labelToAllign" })</div>
     <div class="medium-10 columns">@Html.DropDownListForIAttributeSource("Profile.StateId", Model.Profile.StateId, Model.States, "Select...")</div>
  </div>  


        
       
  <div class="row">
     <div class="medium-2 columns">@Html.LabelFor(p => Model.Profile.City, new { @class = "inline right labelToAllign" })</div>
     <div class="medium-10 columns">@Html.TextBoxFor(p => Model.Profile.City)</div>
  </div>  
<div class="row">
     <div class="medium-2 columns">@Html.LabelFor(p => Model.Profile.ZipCode, new { @class = "inline right labelToAllign" })</div>
     <div class="medium-10 columns">@Html.TextBoxFor(p => Model.Profile.ZipCode)</div>
 </div>   
</fieldset> 


    
    
    


<fieldset>  
<legend>Age</legend>

<fieldset  class="searchinfoGreen">
<div class="row">
            <div class="medium-8 medium-offset-4 columns"><i class="fi-page-search size-14" ></i>@Html.ValidationMessageFor(p => Model.Profile.DateBirth)</div>
            <div class="medium-4 columns">@Html.LabelFor(p => Model.Profile.DateBirth, new { @class = "inline right labelToAllign " })</div> 
            <div class="medium-8 columns">@Html.TextBoxFor(m => m.Profile.DateBirth, new { @Value = Model.Profile.DateBirth.ToString("MMMM dd, yyyy") })</div>
        </div>
</fieldset>
<fieldset  class="searchinfoGreen">
    <div class="row">
   <div   class="medium-6 small-12 columns">
     <div class="row"> 
          <div class="small-8 small-offset-4 columns">@Html.ValidationMessageFor(p => Model.Profile.SearchAgeIdFrom)</div> 
          <div class="small-4 columns">@Html.LabelFor(p => p.Profile.SearchAgeIdFrom, "From", new { @class = "inline right " })</div>
          <div class="small-8 columns">@Html.DropDownListForIAttributeSource("Profile.SearchAgeIdFrom", Model.Profile.SearchAgeIdFrom, Model.Ages, "Select...")</div>
         </div> 
      </div>
      <div class="row">
       <div   class="medium-6 small-12 columns">
          <div class="small-8 small-offset-4 columns">@Html.ValidationMessageFor(p => Model.Profile.SearchAgeIdTo)</div>  
         <div class="small-4 columns">@Html.LabelFor(p => p.Profile.SearchAgeIdTo, "To", new { @class = "inline right" })</div>
         <div class="small-8 columns">@Html.DropDownListForIAttributeSource("Profile.SearchAgeIdTo", Model.Profile.SearchAgeIdTo, Model.Ages, "Select..")</div>
       </div>
       </div> 
   </div> 
</fieldset>
</fieldset>  

 <fieldset> 
 <legend>Status</legend>
 <fieldset  class="searchinfoGreen">
  <div class="row">
           <div class="medium-9 medium-offset-3 columns">@Html.ValidationMessageFor(p => Model.Profile.StatusId)</div>
           <div class="medium-3 columns">@Html.LabelFor(p => Model.Profile.StatusId, new { @class = "inline right labelToAllign " })</div> 
           <div class="medium-9 columns">@Html.DropDownListForIAttributeSource("Profile.StatusId", Model.Profile.StatusId, Model.Statuses, "Select...")</div>  
 </div>
 </fieldset >
 <fieldset  class="searchinfoGreen">
   <div class="row">
     <div  class="small-12 columns">
         <ul class="large-block-grid-3  small-block-grid-1  medium-block-grid-2">
        @Html.CheckBoxes(Model.Statuses, Model.Profile.SearchSmokeIdMask, "SearchSmokeIds")
         
        </ul>      
      </div>
    </div>
</fieldset> 
</fieldset>    
 


<fieldset> 
<legend>Children</legend>  
<fieldset  class="searchinfoGreen"> 
 <div class="row">
     <div class="medium-8 medium-offset-4 columns">@Html.ValidationMessageFor(p => Model.Profile.ChildrenId)</div> 
     <div class="medium-4 columns">@Html.LabelFor(p => Model.Profile.ChildrenId, new { @class = "inline right labelToAllign" })</div>
     <div class="medium-8 columns">@Html.DropDownListForIAttributeSource("Profile.ChildrenId", Model.Profile.ChildrenId, Model.HasChildren, "Select...")</div>
  </div>
  </fieldset> 
  <fieldset  class="searchinfoGreen">
   <div class="row"> 
      <div   class="medium-6 small-12 columns">
        <div class="row"> 
         <div class="small-8 small-offset-4 columns">@Html.ValidationMessageFor(p => Model.Profile.SearchChildrenIdFrom)</div> 
         <div class="small-4 columns">@Html.LabelFor(p => Model.Profile.SearchChildrenIdFrom, "From", new { @class = "inline right" })</div>
         <div class="small-8 columns">@Html.DropDownListForIAttributeSource("Profile.SearchChildrenIdFrom", Model.Profile.SearchChildrenIdFrom, Model.HasChildren, "Select...")</div>
         </div> 
      </div>
      <div class="row">
       <div   class="medium-6 small-12 columns"> 
         <div class="small-8 small-offset-4 columns">@Html.ValidationMessageFor(p => Model.Profile.SearchChildrenIdTo)</div> 
         <div class="small-4 columns">@Html.LabelFor(p => Model.Profile.SearchChildrenIdTo, "To", new { @class = "inline right" })</div>
         <div class="small-8 columns">@Html.DropDownListForIAttributeSource("Profile.SearchChildrenIdTo", Model.Profile.SearchChildrenIdTo, Model.HasChildren, "Select...")</div>
       </div>
       </div>
  </div>  
  </fieldset>  
  </fieldset> 

 

  


<fieldset> 
<legend>Race</legend>
<fieldset  class="searchinfoGreen"> 
 <div class="row">
      <div class="medium-8 medium-offset-4 columns">@Html.ValidationMessageFor(p => Model.Profile.RaceId)</div>
      <div class="medium-4 columns">@Html.LabelFor(p => Model.Profile.RaceId, new { @class = "inline right labelToAllign " })</div> 
      <div class="medium-8 columns">@Html.DropDownListForIAttributeSource("Profile.RaceId", Model.Profile.RaceId, Model.Races, "Select...")</div>
 </div> 
 </fieldset>
 <fieldset  class="searchinfoGreen">  
    <div class="row">
     <div  class="small-12 columns">
         <ul class="large-block-grid-3  small-block-grid-1 medium-block-grid-2">
        @Html.CheckBoxes(Model.Races, Model.Profile.SearchRaceIdMask, "SearchRaceIds")
       
        </ul>      
    </div>
   </div>
</fieldset>
</fieldset> 



<fieldset > 
 <legend>Height</legend> 
 <fieldset  class="searchinfoGreen"> 
 <div class="row">
      <div class="medium-8 medium-offset-4 columns">@Html.ValidationMessageFor(p => Model.Profile.HeightId)</div>
     <div class="medium-4 columns">@Html.LabelFor(p => Model.Profile.HeightId, new { @class = "inline right labelToAllign" })</div>
     <div class="medium-8 columns">@Html.DropDownListForIAttributeSource("Profile.HeightId", Model.Profile.HeightId, Model.Heights, "Select...")</div>
  </div>   
</fieldset >
<fieldset  class="searchinfoGreen"> 
 <div class="row">
   <div   class="medium-6 small-12 columns">
     <div class="row">
     <div class="small-8 small-offset-4 columns">@Html.ValidationMessageFor(p => Model.Profile.SearchHeightIdFrom)</div>  
     <div class="small-4 columns">@Html.LabelFor(p => Model.Profile.SearchHeightIdFrom, "From", new { @class = "inline right" })</div>
     <div class="small-8 columns">@Html.DropDownListForIAttributeSource("Profile.SearchHeightIdFrom", Model.Profile.SearchHeightIdFrom, Model.Heights, "Select...")</div>
    </div> 
   </div>
   <div   class="medium-6 small-12 columns">
     <div class="row"> 
     <div class="small-8 small-offset-4 columns">@Html.ValidationMessageFor(p => Model.Profile.SearchHeightIdTo)</div> 
     <div class="small-4 columns">@Html.LabelFor(p => Model.Profile.SearchHeightIdTo, "To", new { @class = "inline right" })</div>
     <div class="small-8 columns">@Html.DropDownListForIAttributeSource("Profile.SearchHeightIdTo", Model.Profile.SearchHeightIdTo, Model.Heights, "Select...")</div>
      </div>
   </div>
 </div>
 </fieldset>
</fieldset>   

    
 <fieldset >
 <legend>Weight</legend> 
<fieldset  class="searchinfoGreen"> 
 <div class="row">
     <div class="medium-8 medium-offset-4 columns">@Html.ValidationMessageFor(p => Model.Profile.WeightId)</div>
     <div class="medium-4 columns">@Html.LabelFor(p => Model.Profile.WeightId, new { @class = "inline right labelToAllign" })</div>
     <div class="medium-8 columns">@Html.DropDownListForIAttributeSource("Profile.WeightId", Model.Profile.WeightId, Model.Weights, "Select...")</div>
  </div> 
  </fieldset> 
  <fieldset  class="searchinfoGreen">
  <div class="row">
    <div   class="medium-6 small-12 columns">
      <div class="row"> 
     <div class="small-8 small-offset-4 columns">@Html.ValidationMessageFor(p => Model.Profile.SearchWeightIdFrom)</div>  
     <div class="small-4 columns">@Html.LabelFor(p => Model.Profile.SearchWeightIdFrom, "From", new { @class = "inline right" })</div>
     <div class="small-8 columns">@Html.DropDownListForIAttributeSource("Profile.SearchWeightIdFrom", Model.Profile.SearchWeightIdFrom, Model.Weights, "Select...")</div>
      </div> 
   </div>
  <div   class="medium-6 small-12 columns">
     <div class="row">
      <div class="small-8 small-offset-4 columns">@Html.ValidationMessageFor(p => Model.Profile.SearchWeightIdTo)</div>   
     <div class="small-4 columns">@Html.LabelFor(p => Model.Profile.SearchWeightIdTo, "To", new { @class = "inline right" })</div>
     <div class="small-8 columns">@Html.DropDownListForIAttributeSource("Profile.SearchWeightIdTo", Model.Profile.SearchWeightIdTo, Model.Weights, "Select...")</div>
    </div>
   </div>
  </div>
</fieldset>   
</fieldset> 
    
    
    
    <fieldset> 
<legend>Smoke Habit</legend>
<fieldset  class="searchinfoGreen"> 
 <div class="row">
      <div class="medium-8 medium-offset-4 columns">@Html.ValidationMessageFor(p => Model.Profile.SmokeId)</div>
      <div class="medium-4 columns">@Html.LabelFor(p => Model.Profile.SmokeId, new { @class = "inline right labelToAllign" })</div>
      <div class="medium-8 columns">@Html.DropDownListForIAttributeSource("Profile.SmokeId", Model.Profile.SmokeId, Model.Smokes, "Select...")</div>
    </div> 
</fieldset>  
 <fieldset  class="searchinfoGreen">
 <div class="row">
     <div  class="small-12 columns">
         <ul class="large-block-grid-3  small-block-grid-1 medium-block-grid-2">
        @Html.CheckBoxes(Model.Smokes, Model.Profile.SearchSmokeIdMask, "SearchSmokeIds")
       
        </ul>       
    </div>
</div>
</fieldset> 
</fieldset>   

    
    
    
    
<fieldset> 
<legend>Disability</legend>
<fieldset  class="searchinfoGreen"> 
 <div class="row">
      <div class="medium-8 medium-offset-4 columns">@Html.ValidationMessageFor(p => Model.Profile.DisabilityId)</div>
      <div class="medium-4 columns">@Html.LabelFor(p => Model.Profile.DisabilityId, new { @class = "inline right labelToAllign" })</div>
      <div class="medium-8 columns">@Html.DropDownListForIAttributeSource("Profile.DisabilityId", Model.Profile.DisabilityId, Model.Disabilities, "Select...")</div>
    </div> 
</fieldset>  
 <fieldset  class="searchinfoGreen">
 <div class="row">
     <div  class="small-12 columns">
         <ul class="large-block-grid-3  small-block-grid-1 medium-block-grid-2">
        @Html.CheckBoxes(Model.Disabilities, Model.Profile.SearchDisabilityIdMask, "SearchDisabilityIds")
       
        </ul>       
    </div>
</div>
</fieldset> 
</fieldset> 

    
    
<fieldset > 
<legend>Religioun</legend>
<fieldset  class="searchinfoGreen"> 
 <div class="row">
     <div class="medium-8 medium-offset-4 columns">@Html.ValidationMessageFor(p => Model.Profile.ReligionId)</div>
     <div class="medium-4 columns">@Html.LabelFor(p => Model.Profile.ReligionId, new { @class = "inline right labelToAllign" })</div> 
     <div class="medium-8 columns">@Html.DropDownListForIAttributeSource("Profile.ReligionId", Model.Profile.ReligionId, Model.Religions, "Select...")</div>
  </div>
</fieldset>
  <fieldset  class="searchinfoGreen">
    <div class="row">
     <div  class="small-12 columns">
         <ul class="large-block-grid-3  small-block-grid-1 medium-block-grid-2">
        @Html.CheckBoxes(Model.Religions, Model.Profile.SearchReligionIdMask, "SearchReligionIds")
         
        </ul>      
    </div>
  </div>
</fieldset>     
</fieldset>     



<fieldset > 
<legend>Education</legend>
 <fieldset  class="searchinfoGreen">
 <div class="row">
       <div class="medium-8 medium-offset-4 columns">@Html.ValidationMessageFor(p => Model.Profile.EducationGradeId)</div>
      <div class="medium-4 columns">@Html.LabelFor(p => Model.Profile.EducationGradeId, new { @class = "inline right labelToAllign" })</div> 
     <div class="medium-8 columns">@Html.DropDownListForIAttributeSource("Profile.EducationGradeId", Model.Profile.EducationGradeId, Model.EducationGrades, "Select...")</div>
  </div>
 </fieldset>
  <fieldset  class="searchinfoGreen">
    <div class="row">
     <div  class="small-12 columns">
         <ul class="large-block-grid-3  small-block-grid-1 medium-block-grid-2">
        @Html.CheckBoxes(Model.EducationGrades, Model.Profile.SearchEducationGradeIdMask, "SearchEducationGradeIds") 
        </ul>      
    </div>
  </div>
</fieldset>   
</fieldset>  
    
    

<fieldset >
<legend>Occupation</legend> 
<fieldset  class="searchinfoGreen"> 
 
 <div class="row">
      <div class="medium-8 medium-offset-4 columns">@Html.ValidationMessageFor(p => Model.Profile.OccupationId)</div>
      <div class="medium-4 columns">@Html.LabelFor(p => Model.Profile.OccupationId, new { @class = "inline right labelToAllign" })</div>
     <div class="medium-8 columns">@Html.DropDownListForIAttributeSource("Profile.OccupationId", Model.Profile.OccupationId, Model.Occupations, "Select...")</div>
    </div>
</fieldset> 
 <fieldset  class="searchinfoGreen" >
    <div class="row">
     <div  class="small-12 columns">
         <ul class="large-block-grid-3  small-block-grid-1 medium-block-grid-2">
        @Html.CheckBoxes(Model.Occupations, Model.Profile.SearchOccupationIdMask, "SearchOccupationIds")
        
        </ul>      
    </div>
  </div>
</fieldset>   
</fieldset>   

    
<fieldset> 
<legend>Income</legend>
<fieldset class="searchinfoGreen">
 <div class="row">
     <div class="medium-8 medium-offset-4 columns">@Html.ValidationMessageFor(p => Model.Profile.IncomeId)</div>
     <div class="medium-4 columns">@Html.LabelFor(p => Model.Profile.IncomeId, new { @class = "inline right labelToAllign" })</div>
     <div class="medium-8 columns">@Html.DropDownListForIAttributeSource("Profile.IncomeId", Model.Profile.IncomeId, Model.Incomes, "Select...")</div>
</div> 
</fieldset >
<fieldset class="searchinfoGreen">
  <div class="row">
   <div   class="medium-6 small-12 columns">
     <div class="row"> 
          <div class="small-8 small-offset-4 columns">@Html.ValidationMessageFor(p => Model.Profile.SearchIncomeIdFrom)</div>  
     <div class="small-4 columns">@Html.LabelFor(p => Model.Profile.SearchIncomeIdFrom, "From", new { @class = "inline right " })</div>
     <div class="small-8 columns">@Html.DropDownListForIAttributeSource("Profile.SearchIncomeIdFrom", Model.Profile.SearchIncomeIdFrom, Model.Incomes, "Select...")</div>
       </div> 
      </div>
  <div   class="medium-6 small-12 columns">
    <div class="row">
         <div class="small-8 small-offset-4 columns">@Html.ValidationMessageFor(p => Model.Profile.SearchIncomeIdTo)</div>   
     <div class="small-4 columns">@Html.LabelFor(p => Model.Profile.SearchIncomeIdTo, "To", new { @class = "inline right " })</div>
     <div class="small-8 columns">@Html.DropDownListForIAttributeSource("Profile.SearchIncomeIdTo", Model.Profile.SearchIncomeIdTo, Model.Incomes, "Select...")</div>
  </div> 
      </div>
 </div> 
</fieldset> 
</fieldset> 
  





  <div class="row">    
     <div class="small-12 small-centered columns text-center"><label for="btn1" class="small  radius button">Save</label>  <a href="#" class="small secondary radius button">Return</a></div>
 </div>
 <input type="submit" value="" id="btn1" class="btn-to-hide"/>
 
}


</div>
</div> 


 
@{ string endYearforCalendar = String.Concat("1900:", (DateTime.Now.Year - 16).ToString());}



<script type="text/javascript">
    $(document).ready(function () {

   


        $("#btn1").hide();

        $("#Profile_DateBirth").datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'MM dd, yy',
            gotoCurrent: true
        });


        $("#Profile_DateBirth").datepicker("option", "yearRange", "@endYearforCalendar");







        $('#btnUploadImage').change(function (event) {

            var tmppath = URL.createObjectURL(event.target.files[0]);
            var img = $("<img/>").attr('class', 'imageGalleryItem')
                                 .attr('src', URL.createObjectURL(event.target.files[0]));

            var menuMoveLeft = "<img alt='Move left' title='Move left' class= 'moveLeft' src='http://pics.ebaystatic.com/aw/pics/icon/iconMoveLt_16x16.gif'>";
            var menuMoveRight = "<img alt='Move right' title='Move right' class= 'moveRight' src='http://pics.ebaystatic.com/aw/pics/icon/iconMoveRt_16x16.gif'/>";
            var menuRemove = "<img alt='Remove' title='Remove' class= 'removeImage' src='http://pics.ebaystatic.com/aw/pics/icon/iconTrashcan_16x16.gif'/>";

            var divImageMenu = $("<div class='divImageMenu'>" + menuMoveLeft + menuRemove + menuMoveRight + "</div> ");


            var td = $('<td/>').html(img).append(divImageMenu);
            $('.tblProfileImageGallery tr').append(td);

        });

        $('.removeImage').live({
            click: function (event) {
                event.preventDefault();
                var r = confirm("Do you want to delete the picture?");
                if (r) $(this).parent().parent().remove();
                return false;
            }

        });

        $('.moveRight').live({
            click: function (event) {
                event.preventDefault();
                var parent = $(this).parent().parent();
                var parentRightSibling = parent.next();
                parent.insertAfter(parentRightSibling);
                return false;
            }
        });


        $('.moveLeft').live({
            click: function (event) {
                event.preventDefault();
                var parent = $(this).parent().parent();
                var parentLeftSibling = parent.prev();
                parent.insertBefore(parentLeftSibling);
                return false;
            }

        });


</script> 

<script id = "ListTmpl" type="text/x-jquery-tmpl">

<div class="divListItem" >  
  {{tmpl($data) "#ProfileImagesTmpl"}}

   <div class= "item-info-${GenderId}">
       <a class="item-productimage-link" 
           href="/Profile/Details?idForDisplay=${Id}&amp;idForMenu=${Id}"> ${Zodiac}</a>
                              
                            <div class ="item-info-List">${FirstName} <br />${DateBirth }</div>                                   
                                  
                                 
                                                 
     </div>




</div>

</script>





<script id = "ProfileImagesTmpl" type="text/html">
<div class="profilePictures">{{each ImageId}}
<img src="/Profile/GetProfileImage?imageId=${ $value }"  height="150" width="150"
                                             alt = "image"/>
{{/each}}</div>

</script>
       
  
    
  }

