﻿@using Match.Domain.Entities;
@using Match.Repository.EF;
@using Match.WebUI.Infrastructure.HTMLHelpers;


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (IsSectionDefined("Scripts"))
{
        @Styles.Render("~/Content/Foundation/customcss/mycustom.css")
        @Styles.Render("~/Content/Foundation/css/toggle-switch.css")

   
        @RenderSection("Scripts", required: false)

    
}


@section MenuContent{
 
<div id="topnav">
<div class="row" >
    <div class="large-7 columns">
        
        @Html.ActionLink("Home", "Index1")
        @Html.ActionLink("Profile", "Edit")
        @Html.ActionLink("Criteria", "SearchForm")
        @Html.ActionLink("Search", "Search")
        @Html.ActionLink("Help", "Help")
    </div>

    <div class="large-5 columns  columns hide-for-small">
      <span class="right">
        <a href="#">Facebook</a>
        <a href="#">Twitter</a>
        <a href="#">RSS Feed</a>
      </span>

    </div>
  </div>
</div>
}

<div class="row">  
@if (IsSectionDefined("MainContent"))
{
        @RenderSection("MainContent", required: false)
    
}

@section AdContent{

<div class="large-3 columns right columns hide-for-medium hide-for-small" id="ad_sidebar">
   <div class="ad_container">
        
        
    </div>
    <div class="ad_container">
         <h5> Angela Jerich's painting</h5>
        <a href ="http://anqil.arts.in.ua/gallery/">
        <img src="http://i.arts.in.ua/i/1531/30130.jpg"  style="width:220px;"/></a>
        <p>Harmony</p>
    </div>

    <div class="ad_container">
        <a href ="http://anqil.arts.in.ua/gallery/">
        <img src="http://i.arts.in.ua/i/1531/30136.jpg"  style="width:220px;"/></a>
        <p>Nonrandom meeting </p>
    </div>

    <div class="ad_container">
        <a href ="http://anqil.arts.in.ua/gallery/">
        <img src="http://i.arts.in.ua/i/1531/posvyashchenie_djerih_anjela_1430638678.jpg"  style="width:220px;"/></a>
        <p>Dedication</p>
    </div>

     <div class="ad_container">
    <a href ="http://anqil.arts.in.ua/gallery/">
        <img src="http://i.arts.in.ua/i/1531/f_klin-klinom_djerih_anjela_1363943681.jpg"  style="width:220px;"/></a>
        <p>Fight fire</p>
    </div>

    <div class="ad_container">
        <a href ="http://anqil.arts.in.ua/gallery/">
        <img src="http://i.arts.in.ua/i/1531/60404.jpg"  style="width:220px;"/></a>
        <p>Romantic dinner</p>
    </div>


    <div class="ad_container">
        <a href ="http://anqil.arts.in.ua/gallery/">
        <img src="http://i.arts.in.ua/i/1531/dlya-tebya_djerih_anjela_1413996472.jpg"  style="width:220px;"/></a>
        <p>For you!</p>
    </div>


    

    <div class="ad_container">
        <a href ="http://anqil.arts.in.ua/gallery/">
        <img src="http://i.arts.in.ua/i/1531/djekpot_djerih_anjela_1348559663.jpg"  style="width:220px;"/></a>
        <p>Jackpot.</p>
    </div>
 </div>
}
</div>


@RenderBody()

@section FooterContent{
<div id="footer">
    <div class="row">
        <div class="large-2 medium-3 column">
            <h4>Related links</h4>
        </div>
        <div class="large-3  medium-6 columns">
            <input type="search"/>
	</div>
	<div class="large-7 medium-3 columns">
	    <a href="#" class="button small radius">Search</a>
	</div>
    </div>
    <div class="row">
	<div class="large-3  medium-6 columns">
	    <ul>
        <li><a href="http://www.mysinglefriend.com">My Single Friend</a></li>
  	    <li><a href="http://www.eharmony.co.uk">eHarmony</a></li>
        <li><a href="http://www.friendfinder.com">Friend Finder</a></li>
  		<li><a href="http://www.match.com">Match</a></li>
  		<li><a href="http://www.perfectmatch.com">PerfectMatch</a></li>
  		
  		
  		
            </ul>
        </div>
	<div class="large-3  medium-6 columns">
	    <ul>
        <li><a href="http://www.jdate.com">JDate</a></li>
        <li><a href="http://www.christianconnection.com ">Christian Connection</a></li>
        <li><a href="http://www.muddymatches.co.uk">Muddy Matches</a></li>
  		<li><a href="http://www.zoosk.com">Zoosk</a></li>
  		<li><a href="http://www.telegraph.co.uk/dating">Telegraph Dating</a></li>
  		
  		
  	    </ul>
	</div>
	
	<div class="large-3 medium-6 columns">
	    <ul>
  		<li><a href="http://www.lovestruck.com">Lovestruck</a></li>
  		<li><a href="http://www.parship.co.uk">Parship </a></li>
  		<li><a href="http://www.shaadi.com ">Shaadi</a></li>
  		<li><a href="http://www.sagaconnections.co.uk">Saga Connections</a></li>
  		<li><a href="http://www.datingvegetarian.co.uk">Dating Vegetarian</a></li>
  		
  	    </ul>
	</div>

    <div class="large-3  medium-6 columns">
	    <ul>
        <li><a href="http://www.datingdirect.com">Dating Direct</a></li>
        <li><a href="http://www.flirtbox.co.uk">Flirtbox</a></li>
  		<li><a href="http://www.lovearts.com">Love Arts</a></li>
  		<li><a href="http://www.datingforparents.com">Dating For Parents</a></li>
  		<li><a href="http://www.greensingles.com ">Green Singles</a></li>
        <li><a href="http://www.ourtime.com">OurTime</a></li>
  		
  	    </ul>
	</div>
    </div>
    <div class="row">
        <hr/>
	<div class="large-3  medium-6 columns">
	    <span>&copy; 2015 | <a href="#">Contact</a></span>
	</div>
	<div class="large-3 columns large-offset-6">
	    <span class="right">
  		<img src="http://placehold.it/30x30&text=twitter">
  		<img src="http://placehold.it/30x30&text=facebook">
  		<img src="http://placehold.it/30x30&text=rss">
  	    </span>
	</div>
    </div>
</div>

}

