﻿table { border-collapse:collapse; }
thead {font-weight:bold; color:#04e}
.tableData tr td:first-child { text-align:right; font-weight:bold  }
.tableData {border:0px solid red}
.tableData tr td {border: 0px solid blue}
.tableData tr th {border: 0px solid blue}


.bdr {border:1px solid #567}
th {border:0px solid #567; text-align:right; font-weight:normal; }
th, td {padding-left:3px; padding-right:3px;padding-top:3px; padding-bottom:3px; cursor:default}
td {vertical-align:top}

.hoverRow {background-color:#222}
.selectedRow {background-color:#0c4f90}

.tableData tr th { background-color: #00004e}
tr td:first-child { text-align:left; font-weight:bold  }
input, textarea, select { background-color:#0c4f90; color: yellow;}
select { border-color :#00004e;}
 
 
option.selected {  background: #000} 

body { background-color:#aecded}



input, textarea, select { background-color:#0c4f90; color: yellow; border-width:2px;}

/*For example, you can change the background-color and the color, 
but the button with the down-arrow and the border style is unaffected by css - 
as it is based on the windows settings. Pop along to your desktop, hit properties and 
change the appearance of buttons and you'll see it applies.
*/
input , select {     width: 30px;
			border: 3px solid white;
		}
		select a {
			display: block;
			width: 100%;
			color: green;
			margin-top: 1px;
			margin-bottom: 1px;
			padding-top: 2px;
			padding-bottom: 10px;
		}
		select a:hover {
			background-color: red;
			color: green;
		}
select a:after {
    border-color: #FF0000 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
}

select {     width: 70px; border: 3px solid red;
		}
		
		input		select a {
			display: block;
			width: 100%;
			color: green;
			margin-top: 1px;
			margin-bottom: 1px;
			padding-top: 2px;
			padding-bottom: 10px;
		}
		select a:hover {
			background-color: red;
			color: green;
		}
input , select {     width: 170px;
			border: 1px solid gray; padding: 2px; margin:2px;
		}
		
 input{     width: 164px;}

select a:after {
    border-color: #FF0000 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
}

select a::after {
    border-color: #FF0000 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
}
select{
    FONT-FAMILY: tahoma,Arial,Helvetica,sans-serif;
    FONT-SIZE: 11px;
    COLOR: #ffffff;
    BACKGROUND-COLOR: gray;  }
    
    
    
   select{
margin: 0;

-webkit-appearance: none;

-moz-appearance: button;

appearance: none;}

