﻿@{
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}

@{
    ViewBag.Title = "About";
}



@section MainContent{

<div class="row">
<div class="large-8 small-centered  large-uncentered columns">

<div class="row">
<div class="column">&nbsp;</div> 
 <div class="columns text-center alert-box info-info round">
    <h4 style="color:white;"><b>About</b></h4>
</div>
</div>







<fieldset class="searchinfoPink">
<legend>Numerology</legend>
 <div class="row">
  
    <div class="columns  text-left "><b>Numerology</b> is the study of numbers, and the occult manner in which they reflect certain aptitudes and character tendencies, as an integral part of the cosmic plan. <br />
        <b>The Life Path</b> is the sum of the birth date. This number represents who you are at birth and the native traits that you will carry with you through life. <br/>
        Numerology based love compatibility test is based on the following numbers - Life path number, destiny number, birthday number and balance number. In fact, every input is converted to some number and finally compatibility between these two numbers is determined. <br />
LifePathNumber Date of Birth – December, 30, 1989 = 12 / 30 / 1989<br />
3 Cycle Method<br />
[i] (1 + 2) + (3 + 0) + (1 + 9 + 8 + 9) = 3 + 3 + 27 = 3 + 3 + 9 = 15 = 6 (your 3 Cycles are 3, 3, and 9)<br />
Personality Number is one of the five core numbers that include your Life Path Number, Heart's Desire (aka Soul Urge) , Day Number (the day you were born on), and Expression (aka Destiny) Number. <br /> 
    </div>
 </div>

 </fieldset>

 <fieldset class="searchinfoPink">
 <legend>Astrology</legend>
 <div class="row">
   
    <div class="columns  text-left">In both astrology and historical astronomy, <b>the Zodiac</b> (Greek: ζῳδιακός, zōidiakos) is a circle of twelve 30° divisions of celestial longitude that are centered upon the ecliptic, the apparent path of the Sun across the celestial sphere over the course of the year. Historically, these twelve divisions are called signs.
    Each sign has its own strengths and weaknesses, its own specific traits, desires and attitude towards life and people. On the basis of analysis of images of the sky, or the position of the planets at the moment of birth, astrology can give us a glimpse of a person's basic characteristics, preferences, flaws and fears. We can really get to know people much better, if we know the basic characteristics of the zodiac signs.
    Each of the 12 horoscope signs fall under a specific zodiac element. The four zodiac elements are: air, fire, earth and water and each of them represent an essential type of energy that acts in each of us. Astrology aims to help us focus these energies on the positive aspects and to gain a better understanding of our positive traits and deal with the negative ones.<br />


</div> 
 </div>
 

  </fieldset>     
</div>
</div>


<script  type="text/javascript">
    $(document).ready(function () {


        $(".ad_container:gt(4)").hide();


    });
</script>
}