﻿@using Match.Domain.Entities;
@using Match.Repository.EF;
@using Match.WebUI.Infrastructure.HTMLHelpers;
@model ResponseModel


@{
    
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}

@{
    ViewBag.Title = "Home";
}


@section MainContent{
<div class="large-8 columns" id="main_content">
<a href ="http://anqil.arts.in.ua/gallery/">
<img src="http://i.arts.in.ua/i/1531/f_beleet-parus-odinokyy_djerih_anjela_1358248497.jpg" class="img-home-page"/></a>
</div>



<script  type="text/javascript">
    $(document).ready(function () {


        $(".ad_container:gt(3)").hide();


    });
</script>
}


