﻿@model Match.WebUI.ViewModel.SimpleMatching
@{
    ViewBag.Title = "Match";
}
@{
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}


@section MainContent{

<div class="medium-8 small-centered  large-uncentered columns">
<div class="row">

  


<div class="medium-5 small-centered  large-uncentered columns">
<fieldset class="searchinfoPink">
<legend>Matching Form</legend>
    <div class="row"> 
    <div class="columns" >@Html.LabelFor(m => m.ApplyToMatching)</div> 

    <div class="columns">
                   <div>
                        <input type="checkbox" id="switchZodiac"  checked="checked" value="2" name="ApplyToMatching" class="switch"/>
                        <label for="switchZodiac">Astrology </label>
                   </div>
          </div>
     
         <div class="columns">                 
         
                   <div>
                         <input type="checkbox" id="switchNumeralogy" checked="checked" value="1" name="ApplyToMatching" class="switch" />
                         <label for="switchNumeralogy">Numerology </label>
                  </div>
          </div>
           

    </div>

  
    <div class="row"> 
       <div class="columns hide-for-small" >&nbsp;</div> 
      <div class="columns medium-text-left">@Html.LabelFor(m => m.DOB1)</div>
      <div class="columns medium-text-left">@Html.TextBoxFor(m => m.DOB1, new { @class = "txtDateBirth", @Value = Model.DOB1.ToString("MMMM dd, yyyy") }) </div>
    </div> 
   
  
  <div class="row"> 
    
     <div class="columns medium-text-left">@Html.LabelFor(m => m.DOB2)</div>
      <div class="columns medium-text-left">@Html.TextBoxFor(m => m.DOB2, new { @class = "txtDateBirth", @Value = Model.DOB1.ToString("MMMM dd, yyyy") }) </div>
     
   </div>

   
    
 <div class="row">    
     <div class="small-12 small-centered columns text-center">
      <button type="submit" onclick="makeSimleMatching()" class="small  success radius"  >Match</button>
      <a href="@ViewBag.ReturnUrl"  class="small secondary radius button">Return</a>
 </div>

 </div>
  </fieldset>  
 </div>


<div class="medium-7 small-centered  large-uncentered columns">
     <div id="target"></div>  

</div>
</div></div>



@Scripts.Render("http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.js")

@{ string endYearforCalendar = String.Concat("1900:", (DateTime.Now.Year - 16).ToString());}

<script type="text/javascript">
    $(document).ready(function () {
        $(".ad_container:gt(3)").hide();

    $(".txtDateBirth").datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'MM dd, yy',
            gotoCurrent: true
        });


        $("#Profile_DateBirth").datepicker("option", "yearRange", "@endYearforCalendar");
   })
   
</script> 


<script type="text/javascript">

    function makeSimleMatching() {

        var UseNumeralogy = $("#switchNumeralogy").prop('checked');
        var UseZodiac = $("#switchZodiac").prop('checked');

        if (!( UseNumeralogy || UseZodiac)) 
        { 
            alert ("Nothing was applied for matching");
            return ;
          }

        var frm = $("#frmId");
        var jsonData = //JSON.stringify(frm.serializeArray());
        JSON.stringify({ "DOB1": $("#DOB1").val(), 
                          "DOB2": $("#DOB2").val(),
                          "UseNumeralogy": UseNumeralogy,
                          "UseZodiac": UseZodiac
                   });
                    



                      $.ajax({
                          url: "/Profile/AjaxMatch/",
                          type: 'POST',
                          dataType: 'json',
                          data: jsonData,
                          contentType: 'application/json; charset=utf-8',
                          error:
                        function (xhr, ajaxOptions, thrownError) {
                            alert(xhr.status + "  " +
                                thrownError);
                        },
                          success: function (data) {
                              
                              var target = $("#target");
                              target.empty();
                              $("#matchResult").tmpl(data).appendTo(target);
                          }
                      });

    }

</script> 


<script id = "matchResult" type="text/html">

{{if UseZodiac}}
<fieldset id="fieldsetResult" class="searchinfoPink">
<legend>Astrology Result</legend>
   <div class='row'> 
      <div class='medium-6 columns hide-for-small text-center wrapperCenterTable1'>Date Of Birth</div>
      <div class='medium-6 columns text-center wrapperCenterTable1'>Zodiac Sign</div>
 </div> 
   <div class='row'> 
     <div class='small-6 medium-6 columns text-center'>${DOB1}</div>
     <div class='small-6 medium-6 columns text-center'>${Sign1}</div>
  </div>
   <div class='row'> 
     <div class='small-6 medium-6 columns text-center'>${DOB2}</div>
     <div class='small-6 medium-6 columns text-center'>${Sign2}</div>
  </div>
  <fieldset class="fieldsetwhite">
  <div class='row'> 
     <div class='columns text-center wrapperCenterTable1'>  ${ZodiacCompatibilityLevel}</div>
     <div class='columns text-left'>${ZodiacDescription}</div>
  </div>
  </fieldset>
 
</fieldset> 

{{/if}}

{{if UseNumeralogy}}
<fieldset id="fieldsetResult" class="searchinfoPink">
<legend>Numerology Result</legend>
 <div class='row'> 
      <div class='medium-6 hide-for-small columns text-center wrapperCenterTable1'>Date Of Birth</div>
      <div class='medium-6 columns text-center wrapperCenterTable1'>Life Path Number</div>
 </div> 
   
 <div class='row'> 
     <div class='small-6 medium-6 columns text-center'>${DOB1}</div>
     <div class='small-6 medium-6 columns text-center'>${Number1}</div>
  </div>

  <div class='row'>
     
     <div class='small-6 medium-6 columns text-center'>${DOB2}</div>
     <div class='small-6 medium-6 columns text-center'>${Number2}</div> 
     
  </div>

  <fieldset class="fieldsetwhite">
  <div class='row'> 
     <div class='columns text-center  wrapperCenterTable1'>${NumeralogyCompatibilityLevel}</div>
     <div class='columns text-left'>${NumeralogyInfo}</div>
  </div>
  </fieldset>
  </fieldset>
  {{/if}}

</script> 

}
