﻿
.tblProfileImageGallery {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: #333; border:1px solid orange; 
}


/*  imageGallery scrolling*/

.menuwithicon {color:white;}
.size-menu {  font-size: 70px; }
    
.size-big { font-size: 16px; }


.size-22 { font-size: 20px; }

  .imageGalleryItem {  vertical-align:top; border:0px solid orange; height:220px;   margin: 0;
    padding: 0;}
  
.divImageMenu  
 {text-align: center; background-color: #333; color:#666;
                   padding-top:6px; padding-bottom:6px;border:0px solid orange;}
                   
                   
 .tblProfileImageGallery tr 
 {
  padding:0px; 
  margin:0px; 
  border:1px solid orange;
  margin:0px;
  padding: 0;
 }
 
 
  .tblProfileImageGallery tr td 
  {
    border-left:1px solid orange;
    padding:0px; margin:0px;
  }
  
  .makeMainImage,.makeFirstImage,
  .makeLastImage, .removeImage,
  .moveRight,.moveLeft 
  { 
      padding:3px; border:1px solid #333;
  }
  .makeFirstImage:hover, 
  .makeLastImage:hover,
  .moveRight:hover, 
  .moveLeft:hover, 
  .removeImage:hover, 
  .makeMainImage:hover 
  { 
    color: orange ; 
    background-color: #666
   } 
   
   .stopImageMenu:hover
   {
       color:#999999 ; 
    
   }
   .setMainImage
    { 
       color:#CCCCCC;
   } 
   
   .setMainImage:hover
   { 
       color:white;
   }
  
  
  
/*   FieldSet  */  
legend
{

border: solid 1px silver;
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
font-weight:normal !important;
padding: 5px 20px 5px 20px  !important;
}

.yellow-form
{
    background: #fffbb5 !important; 
    border: solid 1px silver !important;
   
    color:#777777 !important;
    font-size:larger;
}

.gray-form
{
    background: #eeeeee !important; 
    border: solid 1px silver !important;
   
    color:#777777 !important;
    font-size:larger;
}



 fieldset {
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
background: #fffbb5 !important; 
margin-bottom:40px !important;
}

.searchinfo 
{
    background: #e8e9ff !important; 
}


.searchinfoGreen 
{
    background: #eeeeee !important; 
}
.searchinfoPink 
{
    background: #ededed !important; 
}

 
  @media (max-width: 640px)
{
    form div.row .labelToAllign
     {
        text-align: right !important;
        float: left !important; 
    }
    fieldset
    {

        margin-left:8px; 
        margin-right:8px; 
    }

   .span-row1::before 
   {
    content: "\f1fe ";  
    font-family: "foundation-icons";   
   
    color: green;
    padding-right:10px;
    
   } 

   .span-row2::before 
   {
    content: "\f16c";
    font-family: "foundation-icons";
    color: green;
    padding-right:7px;
   }

   .color-small 
   {
    color:White;
    background-color:#ffc04d;
   }
   
   .logo 
   {  background-size:80px !important;
       background:  #000000 url(/../../Content/Images/logo.png)  no-repeat;}

}


/*---------Search Form -------------------*/
.wrapper
{

 border: 1px solid green !important;
 background: #ededed !important; 
 
 
}

.wrapperHeader {
    color: white;
    padding: 10px 0px 10px 0px;
    margin-bottom: 10px !important;
    border-bottom: 1px solid silver;
    
    background: #43AC6A;
    font-size: 16px;
    font-weight:bold;
}


.wrapperCenterTable
{
     background: #43AC6A;
     color: white;
    
}

.wrapperCenterTable1
{
    
    background: #43AC6A;
    color: white;
    padding: 6px 3px 4px 3px!important;
    border-bottom-left-radius:2px;
    border-bottom-right-radius:2px;
  
}

.wrapperCenterTable2
{
  background: #d1ffcf;  
}

/*---------------Swich-----------------------*/

input.switch:empty
{
	margin-left: -999px;
}

input.switch:empty ~ label
{
	position: relative;
	float: left;
	line-height: 1.6em;
	text-indent: 4em;
	margin: 0.2em 0;
	cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input.switch:empty ~ label:before, 
input.switch:empty ~ label:after
{
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	content: ' ';
	width: 3.6em;
	background-color: #c33;
	border-radius: 0.3em;
	box-shadow: inset 0 0.2em 0 rgba(0,0,0,0.3);
	-webkit-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
}

input.switch:empty ~ label:after
{
	width: 1.4em;
	top: 0.1em;
	bottom: 0.1em;
	margin-left: 0.1em;
	background-color: #fff;
	border-radius: 0.15em;
	box-shadow: inset 0 -0.2em 0 rgba(0,0,0,0.2);
}

input.switch:checked ~ label:before
{
	background-color: #43AC6A;
}

input.switch:checked ~ label:after
{
	margin-left: 2.1em;
}


/***************   **************/
.resize-image, .list-image
{
   width:155px;
   height:155px;
   display: table-cell;
   background-size: cover !important;
   border:6px solid white;
  }
  
  .list-image {border:0px solid white;}
  

 .button-infolist
 {
  margin-top:10px;
 
  
 }
 
 .addpicture
{
     background: #ffc04d !important;
}

.addpicture:hover
{
     background: #ea9700 !important;
}
.search-result-list-item
{
    
 width:157px;
 text-align:center;
}  

/*                accordion */

#settings_accordion .ui-accordion-content {
    width: 100%;
    background-color: #f3f3f3 !important;
    color: #777;
    font-size: 10pt;
    padding-left:0px; padding-right:0px;
    line-height: 16pt;
}
#settings_accordion .ui-accordion-content > * {
    margin: 0;
    padding:3px;
}

#settings_accordion .ui-accordion-header {
    background-color: #ccc;
    margin: 0px;
}

#settings-accordion-search .ui-accordion-header:first-of-type {
    background-color: #43ac6a;
    color: white;
    background-image: -moz-linear-gradient(top,  #43ac6a 0%, #3c9a5f 100%); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#43ac6a), color-stop(100%,##3c9a5f)); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top,  #43ac6a 0%, #3c9a5f 100%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top,  #43ac6a 0%, #3c9a5f 100%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top,  #43ac6a 0%, #3c9a5f 100%); /* IE10+ */
    background-image: linear-gradient(to bottom,  #43ac6a 0%,#3c9a5f 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fa9300', endColorstr='##3c9a5f',GradientType=0 ); /* IE6-9 */
}
#settings_accordion .ui-accordion-header:first-of-type {
    background-color: #fa9300;
    color: white;
    background-image: -moz-linear-gradient(top,  #fa9300 0%, #dc621e 100%); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fa9300), color-stop(100%,#dc621e)); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top,  #fa9300 0%,#dc621e 100%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top,  #fa9300 0%,#dc621e 100%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top,  #fa9300 0%,#dc621e 100%); /* IE10+ */
    background-image: linear-gradient(to bottom,  #fa9300 0%,#dc621e 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fa9300', endColorstr='#dc621e',GradientType=0 ); /* IE6-9 */
}
#settings_accordion .ui-accordion-header:nth-of-type(2) {
    background-color: #389abe;
    color: white;
    background-image: -moz-linear-gradient(top,  #389abe 0%, #2a7b99 100%); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#389abe), color-stop(100%,#2a7b99)); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top,  #389abe 0%,#2a7b99 100%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top,  #389abe 0%,#2a7b99 100%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top,  #389abe 0%,#2a7b99 100%); /* IE10+ */
    background-image: linear-gradient(to bottom,  #389abe 0%,#2a7b99 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#389abe', endColorstr='#2a7b99',GradientType=0 ); /* IE6-9 */
}
#settings_accordion .ui-accordion-header:nth-of-type(3) 
{
     color: white;
    background-color: #f87aa0; /* Old browsers */
    background-image: -moz-linear-gradient(top, #f87aa0 0%, #c86585 100%); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f87aa0), color-stop(100%,#c86585)); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top, #f87aa0 0%,#c86585 100%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top, #f87aa0 0%,#c86585 100%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top,  #f87aa0 0%,#c86585 100%); /* IE10+ */
    background-image: linear-gradient(to bottom,  #f87aa0 0%,#c86585 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f87aa0', endColorstr='#c86585',GradientType=0 ); /* IE6-9 */
}
#settings_accordion .ui-accordion-header:nth-of-type(4) {
    background-color: #a8b700;
    background-image: -moz-linear-gradient(top,  #a8b700 0%, #82922a 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a8b700), color-stop(100%,#82922a)); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top,  #a8b700 0%,#82922a 100%); 
    background-image: -o-linear-gradient(top,  #a8b700 0%,#82922a 100%);
    background-image: -ms-linear-gradient(top,  #a8b700 0%,#82922a 100%);
    background-image: linear-gradient(to bottom,  #a8b700 0%,#82922a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a8b700', endColorstr='#82922a',GradientType=0 ); /* IE6-9 */
 color: white;
}


#asettings_accordion .ui-accordion-content {
    box-shadow: inset 0px -1px 0px 0px rgba(0, 0, 0, .4),
                inset 0px 1px 1px 0px rgba(0, 0, 0, .2);
}
#settings_accordion .ui-accordion-content:last-of-type {
    box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, .2),
                inset 0px 0 0px 0px rgba(0, 0, 0, .5);
}



.wrapper
{

 border: 1px solid green !important;
 background: #ededed !important; 
 
 
}

.transparent1{ opacity: 0.0;}

.th-item{
    height: 11em;
    width: 100%;
    overflow: hidden;
    background-position: center;
}
/*    Janrain    */
#janrainEngageEmbed
{
    background-color: #fffbb5;
    border-color: #fffbb5;
}

/* icons */

.size-camera {font-size:24px; }

 .menu-home::before 
   {
    content: "\f15a ";  
    font-family: "foundation-icons";   
    font-size:24px;
    color: silver;
    padding-right:6px;
    
   } 
   
   .menu-match::before 
   {
    content: "\f134 ";  
    font-family: "foundation-icons";   
    font-size:24px;
    color: silver;
    padding-right:6px;
    
   } 
   
    .menu-about::before 
   {
    content: "\f15e ";  
    font-family: "foundation-icons";   
    font-size:24px;
    color: silver;
    padding-right:6px; 
    
   } 
   #topnav a:hover {color: white !important;   }
   #topnav a:hover::before  {color: white !important; }

    .menu-help::before 
   {
    content: "\f163 ";  
    font-family: "foundation-icons";   
    font-size:24px;
    color: silver;
    padding-right:6px;
    
   } 
   
   .searchinfoBlue
   {
       background-color:
       
       
   }
     .menu-user-torso::before 
   {
    margin-right:5px;
    content: "\f1fe ";  
    font-family: "foundation-icons";   
    font-size:18px !important; 
    padding-left:7px; 
    padding-right:7px;
    padding-bottom:4px;
     padding-top:2px;
    background-color:Silver;
    color:black;
    border-radius: 12px;
    
   } 
   .error-link 
   {
       color:white ;
       font-weight:bold;
       
   }
   .error-link:hover 
   {
       color:yellow ;
       font-weight:bold;
       
   }
       
   .fieldsetwhite {background-color:white !important;}
   
   .searchinfoBlue
   {
       color: White;
       font-weight:bold;
       background-color: #a0d3e8;
       
   }

.size-biger{font-size:16px;}