﻿@model Match.Domain.Entities.LocalPasswordModel
<div class="row">
<div class="column">&nbsp;</div> 
 <div class="columns text-center alert-box info round">
    You do not have a local password for this site. Add a local
    password so you can log in without an external login.
</div></div>

@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Set Local Password</legend>
          <div class="row"> 
           <div class="columns medium-text-left">@Html.LabelFor(m => m.NewPassword)</div>
            <div class="columns medium-text-left"> @Html.PasswordFor(m => m.NewPassword)</div>
         </div>
         <div class="row"> 
           <div class="columns medium-text-left">@Html.LabelFor(m => m.ConfirmPassword)</div>
            <div class="columns medium-text-left">@Html.PasswordFor(m => m.ConfirmPassword)</div>
         </div>
         <div class="row"> 
        <div class="row"> 
   <div class="small-12 small-centered columns text-center">
     <button type="submit" class="small  radius"  >Set password</button>        
     <a href="@ViewBag.ReturnUrl" class="small  secondary radius button">Return</a>
    </div>
 </div>
        </div>
    </fieldset>
    <input type="submit" id="btn1"value="" class="btn-to-hide"/>
}
