﻿@model Match.Domain.Entities.LocalPasswordModel
@{
    ViewBag.Title = "Manage Account";
}





@{
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
     


@section MainContent{

<div class="medium-6 small-centered  large-uncentered columns">

@if (ViewBag.HasLocalPassword)
{
    @Html.Partial("_ChangePasswordPartial")
}
else
{ 
    @Html.Partial("_SetPasswordPartial")
}
</div>

<script  type="text/javascript">
    $(document).ready(function () {


        $(".ad_container:gt(3)").hide();


    });
</script>
}