﻿@using Match.Domain.Entities;
@using Match.Repository.EF;
@using Match.WebUI.Infrastructure.HTMLHelpers;
@model ResponseModel


 @using (Html.BeginForm("Search", "Profile"))
 {
<div id="search" class="rounded10">
Which Compatibility Method Do You Prefer<br />

<table class= "tableData">
<tr><th>Compatibility</th><th>Choice</th><th>Price</th><th>Found</th></tr>
<tr><td>Zodiacal            </td><td>@Html.CheckBox("Check1")</td><td>10$  </td><td> <span id="total1">0</span></td></tr>
<tr><td>Numerological        </td><td>@Html.CheckBox("useNumerology")</td><td>10$  </td><td><span id="totals1">@Model.AllProfilesByNumerology</span></td></tr>
<tr><td>Sexual              </td><td>@Html.CheckBox("Check3")</td><td>10$  </td><td><span id="total3">0</span></td></tr>
<tr><td>Total match found  </td><td>      </td><td></td><td><span id="totals">@Model.AllProfiles</span></td><td>
</td></tr>
</table>
@Html.Button("View", new { name = "Submit", value = "1" })
</div>
 
 
  <div class="MatchDiv" >  

<div id="profile" class="rounded10">
@Html.Button("X", new { name = "Submit", value = "3" })

@Html.Hidden("Profile.Id", new { Model.Profile.Id })
@Html.Hidden("id", new { Id = Model.Profile.Id })
<div id="profile1" >

<table class="tableSearchInfo" >
 
<tr><th colspan="3"> My Personal Info</th></tr>
<tr><td>
 


    @Html.LabelFor(p => Model.Profile.LastName)
</td><td>
</td><td>
    @Html.TextBoxFor(p => Model.Profile.LastName)
</td></tr><tr><td>


<span class="redStar">*</span>@Html.LabelFor(p => Model.Profile.FirstName)
</td><td>
</td><td>
@Html.TextBoxFor(p => Model.Profile.FirstName)
</td></tr><tr><td>

<span class="redStar">*</span>@Html.LabelFor(p => Model.Profile.DateBirth)
</td><td>
</td><td>
   @Html.TextBoxFor(m => m.Profile.DateBirth, new { @Value = Model.Profile.DateBirth.ToString("d") })    
</td></tr><tr><td>


 <span class="redStar">*</span>@Html.LabelFor(p => Model.Profile.StatusId)
</td><td>
</td><td>
    @Html.DropDownListForIAttributeSource("Profile.StatusId", Model.Profile.StatusId, Model.Statuses, "Select Status")
</td></tr><tr><td>


   <span class="redStar">*</span>@Html.LabelFor(p => Model.Profile.GenderId)
</td><td>
</td><td>
    @Html.MatchEnumDropDownListFor(p => Model.Profile.GenderValue, "Select Gender")
</td></tr><tr><td>


   <span class="redStar">*</span>@Html.LabelFor(p => Model.Profile.LookingForId)
</td><td>
</td><td>
    @Html.MatchEnumDropDownListFor(p => Model.Profile.LookingForValue, "Select Gender")
</td></tr><tr><td>


    @Html.LabelFor(p => Model.Profile.ImageData)
</td><td>
</td><td>
    @Html.TextBox("Img")
</td></tr><tr><td>
    

  <span class="redStar">*</span>@Html.LabelFor(p => Model.Profile.EMail)
</td><td>
</td><td>
    @Html.TextBoxFor(p => Model.Profile.EMail)
</td></tr><tr><td>


   <span class="redStar">*</span>@Html.LabelFor(p => Model.Profile.Phone)
</td><td>
</td><td>
    @Html.TextBoxFor(p => Model.Profile.Phone)
</td></tr>
</table>
</div>

<p style = "clear:both;"></p>


    
<div id="profile2">
<table>
<tr><td class="tdWithoutDecorSides"><br />I Am</td><td class="tdWithoutDecorSides" >Applications</td><td class="tdWithoutDecorSides"><br />Looging For</td></tr>
<tr><td class="tdWithoutDecorTop">  &nbsp;  </td><td class="tdWithoutDecorBottom">     </td><td class="tdWithoutDecorTop">      </td></tr>
    <tr><td>
        @Html.DropDownListForIAttributeSource("Profile.ReligionId", Model.Profile.ReligionId, Model.Religions, "Select Religion")
    </td><td>
        @Html.LabelFor(p => Model.Profile.ReligionId)
    </td><td>
         @Html.DropDownListForIAttributeSource("Profile.SearchReligionId", Model.Profile.SearchReligionId, Model.Religions, "N/A")
    </td></tr><tr><td>


       
        @Html.DropDownListForIAttributeSource("Profile.SpecifyId", Model.Profile.SpecifyId, Model.Specifies, "Select Specify")
    </td><td>
     @Html.LabelFor(p => Model.Profile.SpecifyId)
    </td><td>
        @Html.DropDownListForIAttributeSource("Profile.SearchSpecifyId", Model.Profile.SpecifyId, Model.Specifies, "N/A")
    </td></tr><tr><td>


        
         @Html.DropDownListForIAttributeSource("Profile.DenominationId", Model.Profile.DenominationId, Model.Denominations, "Select Denomination")
    </td><td>
         @Html.LabelFor(p => Model.Profile.DenominationId)
    </td><td>
         @Html.DropDownListForIAttributeSource("Profile.SearchDenominationId", Model.Profile.SearchDenominationId, Model.Denominations, "N/A")
    </td></tr><tr><td>


        
        @Html.DropDownListForIAttributeSource("Profile.CountryId", Model.Profile.CountryId, Model.Countries, "Select Country")
    </td><td>
        @Html.LabelFor(p => Model.Profile.CountryId)
    </td><td>
        @Html.DropDownListForIAttributeSource("Profile.SearchCountryId", Model.Profile.SearchCountryId, Model.Countries, "N/A")
    </td></tr><tr><td>



       
        @Html.DropDownListForIAttributeSource("Profile.StateId", Model.Profile.StateId, Model.States, "Select State")
    </td><td>
         @Html.LabelFor(p => Model.Profile.StateId)
    </td><td>
         @Html.DropDownListForIAttributeSource("ProfileStateId", Model.Profile.SearchStateId, Model.States, "N/A")
    </td></tr><tr><td>


        
        @Html.TextBoxFor(p => Model.Profile.SearchCity)
    </td><td>
         @Html.LabelFor(p => Model.Profile.City)
    </td><td>
        @Html.TextBox("empty")
    </td></tr><tr><td>


        @Html.TextBoxFor(p => Model.Profile.ZipCode)
    </td><td>   
        @Html.LabelFor(p => Model.Profile.ZipCode)
    </td><td>
         @Html.TextBox("empty")
    </td></tr><tr><td>

        
       
            @Html.DropDownListForIAttributeSource("Profile.HeightId", Model.Profile.HeightId, Model.Heights, "Select Height")
    </td><td>
        @Html.LabelFor(p => Model.Profile.HeightId)
    </td><td>
         @Html.DropDownListForIAttributeSource("Profile.SearchHeightId", Model.Profile.SearchHeightId, Model.SearchHeights, "N/A")
    </td></tr><tr><td>


        
        @Html.DropDownListForIAttributeSource("Profile.WeightId", Model.Profile.WeightId, Model.Weights, "Select Weight")
    </td><td>
    @Html.LabelFor(p => Model.Profile.WeightId)
    </td><td>
         @Html.DropDownListForIAttributeSource("Profile.SearchWeightId", Model.Profile.SearchWeightId, Model.SearchWeights, "N/A")
    </td></tr><tr><td>


      
         @Html.DropDownListForIAttributeSource("Profile.AgeId", Model.Profile.AgeId, Model.Ages, "Select Age")
    </td><td>
      @Html.LabelFor(p => Model.Profile.AgeId)
    </td><td>
         @Html.DropDownListForIAttributeSource("Profile.SearchAgeId", Model.Profile.SearchAgeId, Model.SearchAges, "N/A")
    </td></tr><tr><td>

    
    
       
          @Html.MatchEnumDropDownListFor(p => Model.Profile.SmokeValue, "Select Smoke Type")
    </td><td>
     @Html.LabelFor(p => Model.Profile.SmokeId)
    </td><td>
           @Html.MatchEnumDropDownListFor(p => Model.Profile.SearchSmokeValue, "N/A")
    </td></tr><tr><td>

   
        @Html.DropDownListForIAttributeSource("Profile.ChildrenId", Model.Profile.ChildrenId, Model.HasChildren, "Select Children")
    </td><td>
     @Html.LabelFor(p => Model.Profile.ChildrenId)
    </td><td>
          @Html.DropDownListForIAttributeSource("Profile.SearchChildrenId", Model.Profile.SearchChildrenId, Model.HasChildren, "N/A")
    </td></tr><tr><td>

    
         @Html.MatchEnumDropDownListFor(p => Model.Profile.DisabilityValue, "Select Disability")
    </td><td>
    @Html.LabelFor(p => Model.Profile.DisabilityId)
    </td><td>
         @Html.MatchEnumDropDownListFor(p => Model.Profile.SearchDisabilityValue, "N/A")
    </td></tr><tr><td>


       
        @Html.DropDownListForIAttributeSource("Profile.EducationGradeId", Model.Profile.EducationGradeId, Model.EducationGrades, "Select Education")
    </td><td>
     @Html.LabelFor(p => Model.Profile.EducationGradeId)
    </td><td>
          @Html.DropDownListForIAttributeSource("Profile.SearchEducationGradeId", Model.Profile.SearchEducationGradeId, Model.EducationGrades, "N/A")
    </td></tr><tr><td>


        @Html.TextBoxFor(p => Model.Profile.SearchAncestorsFrom)
    </td><td> 
    
         @Html.LabelFor(p => Model.Profile.AncestorsFrom)
    </td><td>
         @Html.TextBox("empty")      
    </td></tr><tr><td>

         
        
         @Html.MatchEnumDropDownListFor(p => Model.Profile.VirginValue, "Select Virginity")
    </td><td>
    @Html.LabelFor(p => Model.Profile.VirginId)
    </td><td>
          @Html.MatchEnumDropDownListFor(p => Model.Profile.SearchVirginValue, "N/A")
    </td></tr>
<tr><td class="tdBottomWithoutDecorBottom">  &nbsp;  </td><td class="tdBottomWithoutDecorTop">     </td><td class="tdBottomWithoutDecorBottom">      </td></tr>
</table>
<br /><br />
<div id="aboutmyself">
<br />
 @Html.LabelFor(p => Model.Profile.AboutMyself)<br /><br />

@Html.TextAreaFor(p => Model.Profile.AboutMyself)

		   

</div>


@Html.Button("Submit", new { name = "Submit", value = "2" }) 
</div>

</div>
</div>
    
     
     
 } 
 
 

 
       
      
