﻿@using Match.Domain.Entities;
@using Match.Repository.EF;
@using Match.WebUI.Infrastructure.HTMLHelpers;
@model ResponseModel




@Scripts.Render("~/Scripts/jquery-1.7.1.js")
@Scripts.Render("http://code.jquery.com/ui/1.10.2/jquery-ui.js")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.js")


@using (Html.BeginForm("Edit", "Profile"))
{
<div id="divPersonalInfo" >

    

@Html.Hidden("Profile.Id", new { Model.Profile.Id })
@Html.Hidden("id", new { Id = Model.Profile.Id })

<table  class= "tableData">
<tr><th colspan ="2">My personal Info</th></tr>
<tr><td>
    @Html.LabelFor(p => Model.Profile.LastName)
</td><td>
    @Html.TextBoxFor(p => Model.Profile.LastName)
</td></tr><tr><td>


<span class="redStar">*</span>@Html.LabelFor(p => Model.Profile.FirstName)
</td><td>
@Html.TextBoxFor(p => Model.Profile.FirstName)
</td></tr><tr><td>

<span class="redStar">*</span>@Html.LabelFor(p => Model.Profile.DateBirth)
</td><td>
   @Html.TextBoxFor(m => m.Profile.DateBirth, new { @Value = Model.Profile.DateBirth.ToString("MMMM dd, yyyy") }) 
</td></tr><tr><td>


 <span class="redStar">*</span>@Html.LabelFor(p => Model.Profile.StatusId)
</td><td>
    @Html.DropDownListForIAttributeSource("Profile.StatusId", Model.Profile.StatusId, Model.Statuses, "Select Status")
</td></tr><tr><td>


   <span class="redStar">*</span>@Html.LabelFor(p => Model.Profile.GenderId)
</td><td>
    @Html.MatchEnumDropDownListFor(p => Model.Profile.GenderValue, "Select Gender")
</td></tr><tr><td>


   


    @Html.LabelFor(p => Model.Profile.ImageData)
</td><td>
    @Html.TextBox("Img")
</td></tr><tr><td>
    

  <span class="redStar">*</span>@Html.LabelFor(p => Model.Profile.EMail)
</td><td>
    @Html.TextBoxFor(p => Model.Profile.EMail)
</td></tr><tr><td>


   <span class="redStar">*</span>@Html.LabelFor(p => Model.Profile.Phone)
</td><td>
    @Html.TextBoxFor(p => Model.Profile.Phone)
</td></tr><tr><td>



   
         @Html.LabelFor(p => Model.Profile.ReligionId)
    </td><td>
        @Html.DropDownListForIAttributeSource("Profile.ReligionId", Model.Profile.ReligionId, Model.Religions, "Select Religion")
     </td></tr><tr><td>
      


       @Html.LabelFor(p => Model.Profile.SpecifyId)
    </td><td>
        @Html.DropDownListForIAttributeSource("Profile.SpecifyId", Model.Profile.SpecifyId, Model.Specifies, "Select Specify")
 
    </td></tr><tr><td>


         @Html.LabelFor(p => Model.Profile.DenominationId)
    </td><td>
         @Html.DropDownListForIAttributeSource("Profile.DenominationId", Model.Profile.DenominationId, Model.Denominations, "Select Denomination")
    </td></tr><tr><td>


     @Html.LabelFor(p => Model.Profile.CountryId)
    </td><td>   
        @Html.DropDownListForIAttributeSource("Profile.CountryId", Model.Profile.CountryId, Model.Countries, "Select Country")
    </td></tr><tr><td>



   @Html.LabelFor(p => Model.Profile.StateId)
    </td><td>     
        @Html.DropDownListForIAttributeSource("Profile.StateId", Model.Profile.StateId, Model.States, "Select State")
    </td></tr><tr><td>


        
       
         @Html.LabelFor(p => Model.Profile.City)
    </td><td>
        @Html.TextBox("empty")
    </td></tr><tr><td>

 @Html.LabelFor(p => Model.Profile.ZipCode)
    </td><td>
        @Html.TextBoxFor(p => Model.Profile.ZipCode)
    </td></tr><tr><td>

        
   @Html.LabelFor(p => Model.Profile.HeightId)
    </td><td>    
            @Html.DropDownListForIAttributeSource("Profile.HeightId", Model.Profile.HeightId, Model.Heights, "Select Height")
    </td></tr><tr><td>


        @Html.LabelFor(p => Model.Profile.WeightId)
    </td><td>
        @Html.DropDownListForIAttributeSource("Profile.WeightId", Model.Profile.WeightId, Model.Weights, "Select Weight")

    </td></tr><tr><td>


       @Html.LabelFor(p => Model.Profile.AgeId)
    </td><td> 
         @Html.DropDownListForIAttributeSource("Profile.AgeId", Model.Profile.AgeId, Model.Ages, "Select Age")
    </td></tr><tr><td>

    
    
       @Html.LabelFor(p => Model.Profile.SmokeId)
    </td><td> 
         
           @Html.DropDownListForIAttributeSource("Profile.SmokeId", Model.Profile.SmokeId, Model.Smokes, "Select Smoke Type")
    </td></tr><tr><td>

    @Html.LabelFor(p => Model.Profile.ChildrenId)
    </td><td>
        @Html.DropDownListForIAttributeSource("Profile.ChildrenId", Model.Profile.ChildrenId, Model.HasChildren, "Select Children")
    </td></tr><tr><td>

     @Html.LabelFor(p => Model.Profile.DisabilityId)
    </td><td>
    
          @Html.DropDownListForIAttributeSource("Profile.DisabilityId", Model.Profile.DisabilityId, Model.Disabilities, "Select Disability")
    </td></tr>






</table>

</div>







               <div id="divUploadImage"> Upload new image:
                        <input   id="btnUploadImage" type="file"  name="image" />
                </div>      
        

<div > 
   
        <div class="profileImageGallery" >
           <table class="tblProfileImageGallery"><tr>               
             @foreach (ProfileImage pp in Model.Profile.ProfileImages)
             {
                
                                    <td>
                                    <a href="@Url.Action("GetProfileImage",
                                             "Profile", new { imageId = pp.Id })" class="previewImage">
                                    <img class="imageGalleryItem" src="@Url.Action("GetProfileImage",
                                             "Profile", new { imageId = pp.Id })" alt = "image" /> </a>
                                                 
                                               @Html.Partial("ImageMenu")
                                     </td>                               
                
             }
          </tr></table>
         
          </div> 
            
             

<div id="aboutMyself">

<br />@Html.LabelFor(p => Model.Profile.AboutMyself)<br /><br />

@Html.TextAreaFor(p => Model.Profile.AboutMyself)		   
</div>






</div>

}



 
@{ string endYearforCalendar = String.Concat("1900:", (DateTime.Now.Year - 16).ToString());}

<script type="text/javascript">
    $(document).ready(function () {


        $("#Profile_DateBirth").datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'MM dd, yy',
            gotoCurrent: true
        });


        $("#Profile_DateBirth").datepicker("option", "yearRange", "@endYearforCalendar");







        $('#btnUploadImage').change(function (event) {

            var tmppath = URL.createObjectURL(event.target.files[0]);
            var img = $("<img/>").attr('class', 'imageGalleryItem')
                                 .attr('src', URL.createObjectURL(event.target.files[0]));

            var menuMoveLeft = "<img alt='Move left' title='Move left' class= 'moveLeft' src='http://pics.ebaystatic.com/aw/pics/icon/iconMoveLt_16x16.gif'>";
            var menuMoveRight = "<img alt='Move right' title='Move right' class= 'moveRight' src='http://pics.ebaystatic.com/aw/pics/icon/iconMoveRt_16x16.gif'/>";
            var menuRemove = "<img alt='Remove' title='Remove' class= 'removeImage' src='http://pics.ebaystatic.com/aw/pics/icon/iconTrashcan_16x16.gif'/>";

            var divImageMenu = $("<div class='divImageMenu'>" + menuMoveLeft + menuRemove + menuMoveRight + "</div> ");


            var td = $('<td/>').html(img).append(divImageMenu);
            $('.tblProfileImageGallery tr').append(td);

        });

        $('.removeImage').live({
            click: function (event) {
                event.preventDefault();
                var r = confirm("Do yoy want to delete the picture?");
                if (r) $(this).parent().parent().remove();
                return false;
            }

        });

        $('.moveRight').live({
            click: function (event) {
                event.preventDefault();
                var parent = $(this).parent().parent();
                var parentRightSibling = parent.next();
                parent.insertAfter(parentRightSibling);
                return false;
            }
        });


        $('.moveLeft').live({
            click: function (event) {
                event.preventDefault();
                var parent = $(this).parent().parent();
                var parentLeftSibling = parent.prev();
                parent.insertBefore(parentLeftSibling);
                return false;
            }

        });


</script> 

<script id = "ListTmpl" type="text/x-jquery-tmpl">

<div class="divListItem" >  
  {{tmpl($data) "#ProfileImagesTmpl"}}

   <div class= "item-info-${GenderId}">
       <a class="item-productimage-link" 
           href="/Profile/Details?idForDisplay=${Id}&amp;idForMenu=${Id}"> ${Zodiac}</a>
                              
                            <div class ="item-info-List">${FirstName} <br />${DateBirth }</div>                                   
                                  
                                 
                                                 
     </div>




</div>

</script>





<script id = "ProfileImagesTmpl" type="text/html">
<div class="profilePictures">{{each ImageId}}
<img src="/Profile/GetProfileImage?imageId=${ $value }"  height="150" width="150"
                                             alt = "image"/>
{{/each}}</div>

</script>
       
      
