﻿@using Match.Repository.EF;
@using Match.WebUI.Infrastructure.HTMLHelpers;
@using Match.Domain.Entities;
@model ResponseModel

@{
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}



@section MainContent{
  
 <div  id="divDetailsInfo" >           
        <ul class="items-list">
           @if (Model != null)
           {
               foreach (Profile p in Model.Profiles)
               {
                   if (p != null)
                   {
                   <li class="item-detail">
                    <a class="item-productimage-link" 
                             href="@Url.Action("Details", "Profile",
                               new { idForDisplay = p.Id, idForMenu = Model.Profile.Id }, null) ">




                       @if ( p.ProfileImages == null){ 
                              <img   src="../../Content/Images/no-image.jpg" class="item-productimage" width="200" height="200" alt="no-image" />  
                       }
                       else {
     
                         
                             foreach( ProfileImage pp in p.ProfileImages)
                             {         
                                if (pp.ImageOrderId == 1) {
	                               <img src="@Url.Action("GetProfileImage", "Profile", new { imageId = pp.Id })" width="200" height="200"  
                                            class= "first" alt = "image"/>
                                 }
                               else {
                               <img src="@Url.Action("GetProfileImage", "Profile", new { imageId = pp.Id })" width="200" height="200"  
                                    alt = ""/>
                               }
                            }
                                         
                           }                  
                                                                                 
                                                                                                
                    </a>
                    
                    <div class="item-price">
                          <a class="item-productimage-link" 
                             href="@Url.Action("Details", "Profile",
                               new { idForDisplay = p.Id, idForMenu = Model.Profile.Id }, null) ">@p.FirstName  @p.LastName</a>
                               <br />
                    </div>
               </li>}
          }}
 </ul>
</div>
 }