﻿#topnav {
    background: #000000;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
}
 
#topnav a {
    padding-right: 1rem;
    color: #FFFFFF;
}

#topnav span.right a {
    padding-right: 0;
    padding-left: 1rem;
}


#header {
    background-color: #222222;
    padding: 1rem 0;
}
 
#header h1, #header h2, #header h3 {
    text-align: center;
    color: #FFFFFF;
}

#footer {
    background-color: #000000;
    padding: 2rem 0;
    color: #FFFFFF;
}
 
#footer h4  {
    color: #FFFFFF;
}
 
#footer input {
    margin-top: 8px;
}
 
#footer a.button {
    margin-top: 8px;
    text-decoration: none;
}
 
#footer a {
    color: #FFFFFF;
    text-decoration: underline;
}
 
#footer li {
    list-style-position: inside;
    color: #FFFFFF;
}

option.selectlabel {
    font-style: italic;
    color: #6D6D6D;
}
 
p#contact_intro {
    padding-top: 2rem;
}
.hbd {
    display: none;
}
