﻿@using Match.Domain.Entities;
@using Match.Repository.EF;
@using Match.WebUI.Infrastructure.HTMLHelpers;
@model ResponseModel

@if (Model.Profile.ProfileImages == null)
{ 
   <div id="profileMainImage" class="resize-image" style="background-image: url('../Content/Images/no-image.jpg')"></div>
}
else
{
 <div  id="profileMainImage" class="resize-image" style="background-image: url('@Url.Action("GetMainProfileImage", "Profile", new { imageId = Model.Profile.MainProfileImageId })')"></div>
}
