﻿@using Match.WebUI.ViewModel;
@model  MatchResultView

<fieldset id="fieldsetForm">
<legend>Result</legend>
 <div class="search-result row"> 


 <div class="row"> 
       
      <div class="columns medium-text-left">@Html.LabelFor(m => m.NumeralogyNumber.Number1)</div>
      <div class="columns medium-text-left">@Html.DisplayFor(m => m.NumeralogyNumber.Number1)</div>
    </div> 
   
  
  <div class="row"> 
    
     <div class="columns medium-text-left"> @Html.LabelFor(m => m.NumeralogyNumber.Number2)</div>
     <div class="columns medium-text-left">@Html.DisplayFor(m => m.NumeralogyNumber.Number2)</div>
     
   </div>

   <div class="row"> 
    
     <div class="columns medium-text-left"> @Html.LabelFor(m => m.NumeralogyNumber.Info)</div>
     <div class="columns medium-text-left">@Html.DisplayFor(m => m.NumeralogyNumber.Info)</div>
     
   </div>



 </div>
</fieldset> 



@Scripts.Render("http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.js")

<script type="text/javascript">

//------------------------------------------------
    function addToCart() {

        var frm = $(document.myform);
        var jsonData = JSON.stringify(frm.serializeArray());

        $.ajax({
            url: "/Profile/AjaxMatch/",
            type: 'POST',
            dataType: 'json',
            data: jsonData,
            contentType: 'application/json; charset=utf-8',
            error:
                        function (xhr, ajaxOptions, thrownError) {
                            alert(xhr.status + "  " +
                                thrownError);
                        },
            success: function (data) { 
                    var fieldset = $("#fieldsetForm");
                    $("#matchResult").tmpl(data).appendTo(fieldset);          
            }
        });

    }

</script> 

//------------------------------------
<script id = "matchResult" type="text/html">
<fieldset id="fieldsetResult">
<legend>Result</legend>
 <div class='row'> 

 <div class='row'> 
      <div class='columns medium-text-left'>Life Path Number for Date of Bith - ${DOB1}</div>
      <div class='columns medium-text-left'>${Number1}</div>
 </div> 
   
 <div class='row'> 
     <div class='columns medium-text-left'>Life Path Number for Date of Bith - ${DOB1}</div>
     <div class='columns medium-text-left'>${Number2}</div>
  </div>

  <div class='row'> 
     <div class='columns medium-text-left'> Information</div>
     <div class='columns medium-text-left'>${Info}</div>
  </div>

 </div>
</fieldset> 

</script> 