﻿@{
    ViewBag.Title = "We can't perform your search";
}

@{
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}
@section Scripts{
@Styles.Render("~/Content/Foundation/customcss/mycustom.css")
}

@section MainContent{

<div class="row">
<div class="large-8 small-centered  large-uncentered columns">

<div class="row">
<div class="column">&nbsp;</div> 
 <div class="columns text-center alert-box alert round">
    <h4 style="color:white;"><b>@ViewBag.Title</b></h4>
   Your @Html.ActionLink("Profile", "ProfileInfo","Profile", null, new { @class = "error-link" }) and (or) your @Html.ActionLink("Criteria", "Criteria", "Profile", null, new { @class = "error-link" }) for search is not filled in.
</div></div>
</div></div>
}